<h1>Portfolio Items</h1>

<%-#same way to do things####-%>
<a href="/portfolios/new">crear nuevo</a> <br>
<%#= link_to "Crear nuevo Item", new_portfolio_path %>
<%-#same way to do things####-%>
<p>
  <%#= new_portfolio_path %>
</p>
<p>
  <%#= new_portfolio_url %>
</p>

<br><br>

<div>
  <%= render partial: 'portfolio_item', collection:@portfolio_items %>

<br><br>
