<h1>Contacto</h1>
<p>Find me in app/views/pages/contact.html.erb</p>
<p>Ivan Arias Perez</p>
<p><%=number_to_phone "2222222"%></p>
<p><%=number_to_currency ("200")%></p>
<p><%=number_to_percentage ("15.8")%></p>
<p><%=number_with_delimiter ("400024521551487")%></p>