<h1>Hi, This is <%= current_user.first_name if current_user%> Homepage</h1>


<%#=<a href="home">Home</a><br>%>
<a href="about">acerca de</a><br>
<a href="contact">Contacto</a><br>
<a href="blogs">Blogs</a>



<h1>Blog Post</h1>>
<%= @posts.inspect %>
<h1>Skills</h1>>
<%= @skills.inspect %>

